<h1>Say2#hello</h1>
<p>Find me in app/views/say2/hello.html.erb</p>
Hello Dave

<%= 2+6 %>

<% 3.times do %>
	HO!<br/>
	<h2><%= @yo %></h2>
	<p><%= @now %></p>
<% end %>
<%= link_to "Teach Dave", dave_teach_path %>